.desc{
    background: #fff;
    padding: 15px 15px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    .image-desc {

        .title-desc {
            font-size: 20px;
            font-weight: 700;
            margin: 25px 0px;
        }
        
        img {
            width: 100%;
        }

        p {
            font-size: 16px;
            line-height: 18px;
            text-align: start;
        }
    }

    
}