.frame-sec {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    .rounded {
        height: 400px;
        width: 400px;
        text-align: center;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        box-shadow: 5px 5px 50px 25px rgba(0, 0, 0, 0.30);
    }

    .text-sec {
        width: 515px;
        text-align: center;
    }
}