* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

body {
    background: #F5ECEC;
}

:root {
    --primary-blue-100: #4DD0E1;
    --secundary-lilas-200: #8263FF;
}

.container {
    margin: auto 154px;
}


.card-sec {
    margin-top: 90px;

    .title-sec {
        margin-bottom: 45px;
    }
}

.container-sec {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px 12px;
}