* {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-blue-100: #4DD0E1;
    --secundary-lilas-200: #8263FF;
}

.container {
    margin: auto 154px;
}