.sec-desc {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;

    form {
        width: 30%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 8px;
            margin-top: 12px;
        }

        input {
            width: 100%;
            outline: none;
            border: none;
            padding: 12px;
            border-radius: 35px;
        }

        .btn {
            background: var(--secundary-lilas-200);
            border: none;
            color: #fff;
            padding: 7px 20px;
            font-size: 23px;
            font-weight: 700;
            margin-top: 15px;
        }
    }
}